@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.woff2') format('woff2'),
    url('../fonts/Inter-Regular.woff2') format('woff2');
    font-weight: 400; /* Regular */
    font-style: normal;
    font-display: swap; /* Рекомендуется для лучшего пользовательского опыта */
}
/* Пример для шрифта Satoshi Medium */
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Bold.woff2') format('woff2'),
    url('../fonts/Inter-Bold.woff2') format('woff2');
    font-weight: 700; /* Medium */
    font-style: normal;
    font-display: swap;
}